.section5 {
    background-color: #1b1f22;
    background-image: resolve('section5.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    padding: rem(150px 0 166px);

    color: white;

    position: relative;

    &__title {
        margin-bottom: rem(100px);
    }

    &__leaf {
        position: absolute;
        right: rem(-300px);
        top: rem(-180px);
    }

}
