.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

/*     &__content {
        background-color: #1b1f22;
    } */

    &__padding {
        padding-left: rem(63px);
        padding-right: rem(63px);
    }
}
