mixin nav(classes)
    nav(class=`nav ${classes}`)
        a.nav__link(href="") Главная
        a.nav__link(href="") Обо мне
        a.nav__link(href="") Навыки
        a.nav__link(href="") Работы
        a.nav__link(href="") Отзывы
        a.nav__link(href="") Связаться
