mixin socials(classes)
    div(class=`socials ${classes}`)
        a.socials__link.socials__link--inst(href="")
            span
        a.socials__link.socials__link--vk(href="")
            span
        a.socials__link.socials__link--gh(href="")
            span
